.card{
    width:250px;
    height:400px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
}

.btn{
    align:center;
    width: 100px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10%;
}